.full-width{
    width: 80%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.form-container{
    margin: 100px;
}
.example-chip-list{
    color: black;
}

.mat-form-design{
    border-color: black;
}

.profile{
    max-width: 700px;
    max-height: 1000px;
    margin-left: 200px;
}
.mat-card{
    padding-bottom: 50px;
    padding-left: 50px;
    padding-top: 50px;
}
.butn-cls{
    margin-left: 150px;
}
